.env
.env.production
.claude
.vscode/settings.json
.trae/rules/project_rules.md
.aider*
.github/
.serena
specs/
.bmad/
.gemini/
.opencode/
.kilocodemodes
.crush
CLAUDE.md
QWEN.md
.kilocode/
openspec/
.qwen/